#{extends 'SettingTabs/settings.html' /}
#{set 'moreSettingScripts' }
<link href="@{'/public/bootstrap-colorpicker-master/css/bootstrap-colorpicker.css'}" rel="stylesheet" type="text/css">
<script src="@{'/public/bootstrap-colorpicker-master/js/bootstrap-colorpicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap-filestyle.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script type="text/javascript">
jQuery(document).ready(function(){

	// Settings toggle and input/textarea fields
     jQuery(".theme-textarea").change(applicationSettingsHandler('@{settings.ThemeSettingsTab.updateThemeSettingsJSON()}'));
     jQuery(".theme-input").blur(applicationSettingsHandler('@{settings.ThemeSettingsTab.updateThemeSettingsJSON()}'));

     // Reset Theme Color
     jQuery(".color-reset").click(function(){
    	var $this = jQuery(this);
    	var id = $this.attr('id');
    	var value = $this.text();
    	jQuery('.'+id).val(value);
    	jQuery('.'+id).colorpicker('setValue',value);
    	jQuery('.'+id).blur();
     });

     // Lock the big text areas
     jQuery(".theme-protected .lock-control a").click(applicationUnlockField);

     //Set Colorpicker
     jQuery(".theme-color").colorpicker();

     /*
 	 * Initiate tooltip.
 	 */

 	jQuery('.tooltip-icon').tooltip();

    #{if flash.error}
    // display error from non-AJAX form submission, if present
    displayAlert("application-setting-logo","Unable to update setting","${flash.error}");
    #{/if}

    // zoomed view of 2x logo graphics
    jQuery('.preview.2x').each(function(){
        jQuery(this).loupe({
            length:jQuery(this).height()*3,
            width:jQuery(this).width()*3
        })
    });

    // enable filestyle on file inputs
    $('.filestyle').each(function () {
        var $this = jQuery(this),
            options = {
                'buttonText': '',
                'input': $this.data('input') !== 'false',
                'classButton': "btn btn-small"
            };
        $this.filestyle(options);
        // set initial value text
        $this.data('filestyle').$elementFilestyle.find(':text').val($this.data('input-value'));
    });

    // highlight upload button when user adds a file
    jQuery('.logo-options input[type="file"]').change(function(e) {
        var oldSubBtn=jQuery(this).closest('.logo-options').find('[name=submit_upload]:disabled');
        if (oldSubBtn.length > 0) {
            // Browsers can't animate properties on a Bootstrap gradient button: instead, make a new one and fade it in.
            // It has to be animated because the whole point is to catch the eye.
            oldSubBtn.before($('<input type="submit" name="submit_upload" value="Upload" />')
                    .css({
                        position:'absolute',
                        top:oldSubBtn.position().top,
                        left:oldSubBtn.position().left,
                        'box-shadow': '0 0 6px green'
                    })
                    .addClass('btn btn-success'));
            oldSubBtn.removeAttr('disabled').fadeTo(500, 0);
        }
        return true;
    });
}); // document ready
</script>
#{/set}

<h2>LOOK AND FEEL</h2>

<h4 style="display:inline;">Background</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Use hex color values to change the background on the student side. The main color (default #1B333F) fades into the highlight color (default #43606E)."><i class="icon-info-sign"></i></a>
<table class="gradient-options">
	<tr>
		<td>Main Color <em id="background_main_color" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("background_main_color")}</em></td>
		<td>Highlight Color <em id="background_highlight_color" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("background_highlight_color")}</em></td>
	</tr>
	<tr>
		<td>
			<input type="text" class="theme-color span2 theme-input background_main_color" name="${org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR}" value="#{verbatim}${BACKGROUND_MAIN_COLOR}#{/verbatim}" >
		</td>
		<td>
			<input type="text" class="theme-color span2 theme-input background_highlight_color" name="${org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR}" value="#{verbatim}${BACKGROUND_HIGHLIGHT_COLOR}#{/verbatim}" >
		</td>
	</tr>
</table>

<h4 style="display:inline;">Submission Step Button (On)</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Use hex color values to change the look of the submission step buttons when on the current step or on hover. The main color (default #1B333F) fades into the highlight color (default #43606E) and then back to the main color."><i class="icon-info-sign"></i></a>
<table class="gradient-options">
	<tr>
		<td>Main Color <em id="button_main_color_on" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_main_color_on")}</em></td>
		<td>Highlight Color <em id="button_highlight_color_on" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_highlight_color_on")}</em></td>
	</tr>
	<tr>
		<td>
			<input type="text" class="theme-color span2 theme-input button_main_color_on" name="${org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON}" value="#{verbatim}${BUTTON_MAIN_COLOR_ON}#{/verbatim}" >
		</td>
		<td>
			<input type="text" class="theme-color span2 theme-input button_highlight_color_on" name="${org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON}" value="#{verbatim}${BUTTON_HIGHLIGHT_COLOR_ON}#{/verbatim}" >
		</td>
	</tr>
</table>

<h4 style="display:inline">Submission Step Button (Off)</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Use hex color values to change the look of the submission step buttons when in a default state. The main color (default #A6A18C) fades into the highlight color (default #C7C2A9) and then back to the main color."><i class="icon-info-sign"></i></a>
<table class="gradient-options">
	<tr>
		<td>Main Color <em id="button_main_color_off" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_main_color_off")}</em></td>
		<td>Highlight Color <em id="button_highlight_color_off" class="icon-refresh color-reset">${org.tdl.vireo.model.Configuration.DEFAULTS.get("button_highlight_color_off")}</em></td>
	</tr>
	<tr>
		<td>
			<input type="text" class="theme-color span2 theme-input button_main_color_off" name="${org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF}" value="#{verbatim}${BUTTON_MAIN_COLOR_OFF}#{/verbatim}" >
		</td>
		<td>
			<input type="text" class="theme-color span2 theme-input button_highlight_color_off" name="${org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF}" value="#{verbatim}${BUTTON_HIGHLIGHT_COLOR_OFF}#{/verbatim}" >
		</td>
	</tr>
</table>

<h4 style="display:inline;">Left Logo</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Change the logos located on the student side in the top left corner. The page layout is designed for images approximately 150×50 pixels."><i class="icon-info-sign"></i></a>
<form method="post" enctype="multipart/form-data" action="@{settings.ThemeSettingsTab.uploadImage(name:org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO)}">
    <table class="logo-options">
        <tr>
            <td class="well">
                <p>
                    1x resolution<br />
                    <input type="file" class="filestyle" name="image1x"
                        #{if org.tdl.vireo.constant.CustomImage.hasFile(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, false)}
                            #{if leftLogoIsDefault}data-input-value="default image"#{/if}
                            #{else}data-input-value="existing custom .${LEFT_LOGO_EXT} image"#{/else}
                        #{/if}
                        #{else}data-input-value="[using scaled-down 2x image]"#{/else}
                    />
                    #{if org.tdl.vireo.constant.CustomImage.hasCustomFile(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, false)}
                    <label class="btn btn-small"><i class="icon-remove"></i><input class="hidden" type="submit" name="delete1x"></label>
                    #{/if}
                </p>
                <p>
                    2x resolution
                    <a href="#" class="tooltip-icon" rel="tooltip" title="Optional. The 2x image should be a more detailed version of the 1x version, with double the pixel dimensions. Users with high resolution screens will see the 2x version. If you upload a 2x and no 1x, all users will get the 2x file, but low-res screen users will only see half the detail."><i class="icon-info-sign"></i></a><br />
                    <input type="file" class="filestyle" name="image2x"
                        #{if org.tdl.vireo.constant.CustomImage.hasFile(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, true)}
                            #{if leftLogoIsDefault}data-input-value="default image"#{/if}
                            #{else}data-input-value="existing custom .${LEFT_LOGO_EXT} image"#{/else}
                        #{/if}
                        #{else}data-input-value="[none]"#{/else}"
                    />
                    #{if org.tdl.vireo.constant.CustomImage.hasCustomFile(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, true)}
                    <label class="btn btn-small"><i class="icon-remove"></i><input class="hidden" type="submit" name="delete2x"></label>
                    #{/if}
                </p>
                <input class="btn disabled" disabled="true" type="submit" name="submit_upload" value="Upload" />
            </td>
            <td> </td>
            <td>
                <p>Low-res preview<br />Size: ${LEFT_LOGO_WIDTH} × ${LEFT_LOGO_HEIGHT}</p>
                <div class="preview" style="background-image:url('@{Application.index()}${LEFT_LOGO_1X}'); background-size: 100%; width:${LEFT_LOGO_WIDTH}px; height:${LEFT_LOGO_HEIGHT}px;"></div>
            </td>
            #{if LEFT_LOGO_2X != null}
            <td>
                <p>High-res preview<br />(zoomable)</p>
                <div class="preview 2x" style="background-image:url('@{Application.index()}${LEFT_LOGO_2X}'); background-size: 100%; width:${LEFT_LOGO_WIDTH}px; height:${LEFT_LOGO_HEIGHT}px;"></div>
            </td>
            #{/if}
        </tr>
    </table>
</form>

<h4 style="display:inline;">Right Logo</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Change the logo located on the student side in the top right corner. The page layout is designed for images approximately 150×50 pixels."><i class="icon-info-sign"></i></a>
<form method="post" enctype="multipart/form-data" action="@{settings.ThemeSettingsTab.uploadImage(name:org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO)}">
    <table class="logo-options">
        <tr>
            <td class="well">
                <p>
                    1x resolution<br />
                    <input type="file" class="filestyle" name="image1x"
                        #{if org.tdl.vireo.constant.CustomImage.hasFile(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, false)}
                            #{if rightLogoIsDefault}data-input-value="default image"#{/if}
                            #{else}data-input-value="existing custom .${RIGHT_LOGO_EXT} image"#{/else}
                        #{/if}
                        #{else}data-input-value="[using scaled-down 2x image]"#{/else}
                    />
                    #{if org.tdl.vireo.constant.CustomImage.hasCustomFile(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, false)}
                    <label class="btn btn-small"><i class="icon-remove"></i><input class="hidden" type="submit" name="delete1x"></label>
                    #{/if}
                </p>
                <p>
                    2x resolution
                    <a href="#" class="tooltip-icon" rel="tooltip" title="Optional. The 2x image should be a more detailed version of the 1x version, with double the pixel dimensions. Users with high resolution screens will see the 2x version. If you upload a 2x and no 1x, all users will get the 2x file, but low-res screen users will only see half the detail."><i class="icon-info-sign"></i></a><br />
                    <input type="file" class="filestyle" name="image2x"
                        #{if org.tdl.vireo.constant.CustomImage.hasFile(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, true)}
                            #{if rightLogoIsDefault}data-input-value="default image"#{/if}
                            #{else}data-input-value="existing custom .${RIGHT_LOGO_EXT} image"#{/else}
                        #{/if}
                        #{else}data-input-value="[none]"#{/else}"
                    />
                    #{if org.tdl.vireo.constant.CustomImage.hasCustomFile(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, true)}
                    <label class="btn btn-small"><i class="icon-remove"></i><input class="hidden" type="submit" name="delete2x"></label>
                    #{/if}
                </p>
                <input class="btn disabled" disabled="true" type="submit" name="submit_upload" value="Upload" />
            </td>
            <td> </td>
            <td>
                <p>Low-res preview<br />Size: ${RIGHT_LOGO_WIDTH} × ${RIGHT_LOGO_HEIGHT}</p>
                <div class="preview" style="background-image:url('@{Application.index()}${RIGHT_LOGO_1X}'); background-size: 100%; width:${RIGHT_LOGO_WIDTH}px; height:${RIGHT_LOGO_HEIGHT}px;"></div>
            </td>
            #{if RIGHT_LOGO_2X != null}
            <td>
                <p>High-res preview<br />(zoomable)</p>
                <div class="preview 2x" style="background-image:url('@{Application.index()}${RIGHT_LOGO_2X}'); background-size: 100%; width:${RIGHT_LOGO_WIDTH}px; height:${RIGHT_LOGO_HEIGHT}px;"></div>
            </td>
            #{/if}
        </tr>
    </table>
</form>


<h4 style="display:inline;">Custom CSS</h4>
<a href="#" class="tooltip-icon" rel="tooltip" title="Customize any styling on the student side using CSS."><i class="icon-info-sign"></i></a>
<br />
<div class="wrap theme-protected">
<p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.CUSTOM_CSS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
<textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.CUSTOM_CSS}" name="${org.tdl.vireo.constant.AppConfig.CUSTOM_CSS}" readonly="true">#{verbatim}${CUSTOM_CSS}#{/verbatim}</textarea>
</div>

<h2>FRONT PAGE INSTRUCTIONS</h2>

<div class="wrap theme-protected">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.FRONT_PAGE_INSTRUCTIONS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
    <textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.FRONT_PAGE_INSTRUCTIONS}" name="${org.tdl.vireo.constant.AppConfig.FRONT_PAGE_INSTRUCTIONS}" readonly="true">#{verbatim}${FRONT_PAGE_INSTRUCTIONS}#{/verbatim}</textarea>

    <p class="info">These instructions are show on the front page of Vireo to all users. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
</div>

<h2>POST SUBMISSION INSTRUCTIONS</h2>

<div class="wrap theme-protected">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.SUBMIT_INSTRUCTIONS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
	<textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.SUBMIT_INSTRUCTIONS}" name="${org.tdl.vireo.constant.AppConfig.SUBMIT_INSTRUCTIONS}" readonly="true">#{verbatim}${SUBMIT_INSTRUCTIONS}#{/verbatim}</textarea>

	<p class="info">These instructions will be shown on the confirmation page after a student has completed their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
</div>

<h2>POST CORRECTION INSTRUCTIONS</h2>

<div class="wrap theme-protected">
    <p class="lock-control"><a href="#${org.tdl.vireo.constant.AppConfig.CORRECTION_INSTRUCTIONS}"><em class="icon-lock"></em> This field is locked to prevent accidental editing, click to unlock.</a></p>
    <textarea class="input-xxlarge theme-textarea" id="${org.tdl.vireo.constant.AppConfig.CORRECTION_INSTRUCTIONS}" name="${org.tdl.vireo.constant.AppConfig.CORRECTION_INSTRUCTIONS}" readonly="true">#{verbatim}${CORRECTION_INSTRUCTIONS}#{/verbatim}</textarea>

    <p class="info"> These instructions are shown on the confirmation page after a student has submitted corrections for their submission. The following HTML tags are allowed: h1 - h5, p, a, b, i, u, ol, li, img. New lines are converted to paragraphs automatically.</p>
</div>
