<!DOCTYPE html>

<html lang="en">
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link href="@{'/public/stylesheets/submission.less'}" rel="stylesheet" type="text/css">                       
        #{get 'moreStyles' /}
        <link rel="shortcut icon" href="@{'/public/images/rice-shield.ico'}" type="image/vnd.microsoft.icon" />
        <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.21.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>                            
        <script src="@{'/public/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script>
        
        jQuery(document).ready(function(){
        	
        	jQuery("#submitSteps a").click(function(){
        		jQuery("form").submit();
        	});
        	
        	
        	/*
        	 * Initiate tooltip.
        	 */
        	 
        	jQuery('.tooltip-icon').tooltip();
        	
        });
        
        </script>
        
        #{get 'moreScripts' /}
        <style type="text/css">
        	html {
				background: ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)}; /* Old browsers */
				background: -moz-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)} 0%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)} 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)}), color-stop(100%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)})); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)} 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)} 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)} 100%); /* IE10+ */
				background: linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)} 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_MAIN_COLOR)}', endColorstr='${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BACKGROUND_HIGHLIGHT_COLOR)}');
				background-repeat: no-repeat;
    			background-attachment: fixed;
			}
			#submitSteps li{
				background: ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)}; /* Old browsers */
				background: -moz-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 0%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)} 50%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)}), color-stop(50%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)}), color-stop(100%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)})); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)} 50%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)} 50%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)} 50%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 100%); /* IE10+ */
				background: linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)} 50%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)} 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_OFF)}', endColorstr='${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_OFF)}');
			}
			#submitSteps li.current, #submitSteps li:hover{
				background: ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)}; /* Old browsers */
				background: -moz-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 0%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)} 50%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)}), color-stop(50%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)}), color-stop(100%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)})); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)} 50%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)} 50%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)} 50%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 100%); /* IE10+ */
				background: linear-gradient(top,  ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 0%,${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)} 50%, ${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)} 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_MAIN_COLOR_ON)}', endColorstr='${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.BUTTON_HIGHLIGHT_COLOR_ON)}');
			}			
			#left-logo{
                background-image:url('@{Application.index()}${org.tdl.vireo.theme.CustomImage.url(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, false)}');
                height:${org.tdl.vireo.theme.CustomImage.displayHeight(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO)}px;
                width:${org.tdl.vireo.theme.CustomImage.displayWidth(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO)}px;
                #{if org.tdl.vireo.theme.CustomImage.is1xScaled(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO)}
                *{ This allows IE7/8 to display a scaled background image.
                If it's a PNG, the unscaled version shows through without blank.gif, which renders as opaque white. }*
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{Application.index()}public/images/blank.gif', sizingMethod='scale') progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{Application.index()}${org.tdl.vireo.theme.CustomImage.url(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, false)}', sizingMethod='scale');
                #{/if}
			}
            #{if org.tdl.vireo.theme.CustomImage.is2xSeparate(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO)}
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                   only screen and (min--moz-device-pixel-ratio: 1.5),
                   only screen and (-o-min-device-pixel-ratio: 3/2),
                   only screen and (min-resolution: 1.5dppx) {
                #left-logo {
                    background-image: url('@{Application.index()}${org.tdl.vireo.theme.CustomImage.url(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, true)}');
                    background-size: 100%;
                }
            }
            #{/if}
			#right-logo{
                background-image:url('@{Application.index()}${org.tdl.vireo.theme.CustomImage.url(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, false)}');
                height:${org.tdl.vireo.theme.CustomImage.displayHeight(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO)}px;
                width:${org.tdl.vireo.theme.CustomImage.displayWidth(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO)}px;
                #{if org.tdl.vireo.theme.CustomImage.is1xScaled(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO)}
                *{ This allows IE7/8 to display a scaled background image.
                If it's a PNG, the unscaled version shows through without blank.gif, which renders as opaque white. }*
                filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{Application.index()}public/images/blank.gif', sizingMethod='scale') progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{Application.index()}${org.tdl.vireo.theme.CustomImage.url(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, false)}', sizingMethod='scale');
                #{/if}
			}
            #{if org.tdl.vireo.theme.CustomImage.is2xSeparate(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO)}
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
                   only screen and (min--moz-device-pixel-ratio: 1.5),
                   only screen and (-o-min-device-pixel-ratio: 3/2),
                   only screen and (min-resolution: 1.5dppx) {
                #right-logo {
                    background-image: url('@{Application.index()}${org.tdl.vireo.theme.CustomImage.url(org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO, true)}');
                    background-size: 100%;
                }
            }
            #{/if}
            #header{
                %{
                    int tallest = org.tdl.vireo.theme.CustomImage.tallerHeight(org.tdl.vireo.constant.AppConfig.CIName.LEFT_LOGO, org.tdl.vireo.constant.AppConfig.CIName.RIGHT_LOGO);
                    int headerHeight = tallest + 45;
                    int headerLabelTop = 5 - 0.5*tallest;
                }%
                height:${headerHeight}px;
            }
            #header-home{
                top:${headerLabelTop}px;
            }
			${settingRepo.getConfigValue(org.tdl.vireo.constant.AppConfig.CUSTOM_CSS)}
        </style>
    </head>
    <body>
    	<div class="container">
	    	<div id="header">
	    		<a id="left-logo" href="@{Application.index}" title="Home"></a>
                <a id="header-home" href="@{Application.index}" title="Home">Thesis and Dissertation Submission</a>
	    		
	    		<div id="personal-bar">
					#{if currentUser != null }
						<a href="@{Authentication.profile()}">${currentUser.getDisplayName()}</a> |
						#{if securityContext.isReviewer()}
						<a href="@{FilterTab.list()}">Admin</a> |
						#{/if}
						<a href="@{Authentication.logout()}">Logout</a>
					#{/if}
					#{else}
					   <a href="@{Authentication.loginList()}">Login</a>
					#{/else}
				</div>
				<div id=right-logo>&nbsp;</div>
	    	</div>
	    	<div id="body">
	       		#{doLayout /}
	        </div>
    	</div>	        
	    <div id="footer">
                <p class="center"><a href="http://graduate.rice.edu/submitthesis">Instructions</a> | <a href="http://graduate.rice.edu/submitthesisfaq">FAQ</a> | Managed by <a href="https://graduate.rice.edu">Rice GPS</a> and <a href="https://library.rice.edu">Fondren Library</a> | <a href="mailto://graduate@rice.edu">Contact Us</a></p>
       	</div>

    </body>
</html>

